replicaCount: 1

image:
  repository: registry.digitalocean.com/mibo/conversation-service
  tag: test-latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

env:
  ASPNETCORE_URLS: "http://+:8080"
  ASPNETCORE_ENVIRONMENT: "Production"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: traefik
  annotations: {}
  hosts:
    - host: conversation.test.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
