apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: mibo
securityContext:
  allowPrivilegeEscalation: false
  runasNonRoot: true
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      imagePullSecrets:
      - name: ghcr-pull-secret
      containers:
      - name: api-gateway
        image: registry.digitalocean.com/registry-mibo/api-gateway:latest
        imagePullSecrets:
        - name: registry-mibo
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: mibo
spec:
  selector:
    app: api-gateway
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer