apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mibo-client
  namespace: mibo
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: mibo-client
                port:
                  number: 80
